#!desc=解锁Xmind思维导图订阅到2030年
[rewrite_local]
https?:\/\/www\.xmind\.(cn|net)\/\_res\/devices url script-response-body https://raw.githubusercontent.com/I-am-R-E/Functional-Store-Hub/Master/Xmind/Script/Xmind.js

[mitm]
hostname = www.xmind.cn, www.xmind.net
